test/data/complexType-elementish.xsd


<schema xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        targetNamespace="http://www.example.org"
	xmlns:tgn="http://www.example.org">
  <element name="tag" type="tgn:C"/>
  <complexType name="C">
    <sequence>
      <element name="s" type="string"/>
      <choice>
	<element name="i" type="integer" minOccurs="3" maxOccurs="unbounded"/>
	<element name="b" type="boolean" minOccurs="3" maxOccurs="5"/>
      </choice>
    </sequence>
  </complexType>
</schema>
