test/data/complexType-sequence.xsd


<schema xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        targetNamespace="http://www.example.org"
	xmlns:tgn="http://www.example.org">
  <element name="tag" type="tgn:C"/>
  <complexType name="C">
    <sequence>
      <element name="s" type="string"/>
      <element name="i" type="integer"/>
      <element name="b" type="boolean"/>
    </sequence>
  </complexType>
</schema>
