test/data/test-xsd-42.xsd


<schema targetNamespace="http://www.example.com/IPO"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:ipo="http://www.example.com/IPO">
  <complexType name="Analyst">
    <complexContent>
      <extension base="ipo:USAddress">
	<sequence>
	  <element name="phone" type="string"/>
	  <element name="email" type="string"/>
	</sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
