test/data/test-xsd-7.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="internationalPrice">
    <xsd:complexType>
      <xsd:simpleContent>
	<xsd:extension base="xsd:decimal">
          <xsd:attribute name="currency" type="xsd:string"/>
	</xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="TestRoot">
    <xsd:sequence> <xsd:element ref="internationalPrice"/> </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
