test/data/test-xsd-14.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="PurchaseOrderType">
    <xsd:sequence>
      <xsd:choice>
	<xsd:group   ref="shipAndBill"/>
	<xsd:element name="singleUSAddress" type="USAddress"/>
      </xsd:choice>
      <xsd:element name="items"  type="Items"/>
    </xsd:sequence>
    <xsd:attribute name="orderDate" type="xsd:date"/>
  </xsd:complexType>
</xsd:schema>
