test/data/test-xsd-16.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <element name="TestRoot" type="PurchaseOrderType"/>

  <xsd:complexType name="PurchaseOrderType">
    <xsd:all>
      <xsd:element name="shipTo" type="USAddress"/>
      <xsd:element name="billTo" type="USAddress"/>
      <xsd:element name="items"  type="Items"/>
    </xsd:all>
    <xsd:attribute name="orderDate" type="xsd:date"/>
  </xsd:complexType>
</xsd:schema>
